article {
    display: grid;
    background:  rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background-color: rgb(0, 0, 50);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: whitesmoke;
    text-align: center;
}

img {
    float: right;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 2em;
}

section.main {
    margin-left: 2em;
    margin-right: 2em;
}
section.sources {
    margin-left: 2em;
    margin-right: 2em;
    border: 2em;
}
